html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    background-color: #F7F8FC;
    font-family: 'Mulish-font';
}

.head-info > h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
}
.left-panel > p{
    margin: 0;
    padding: 5px 10px 5px 20px;
    border-left: solid 2px #DFE0EB;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
}

.left-panel > i {
    color: #C5C7CD;
    font-size: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.navbar{
    background-color: #363740;
}

button:focus{
    outline-style: none;
    background-color: rgb(159 162 180 / 0.08);
}

.icon-bar{
    background-color: #DDE2FF;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.icon-bar+.icon-bar{
    margin-top: 5px;
}

.navbar-toggle{
    border-color: #333;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sidebar{
    height: auto;
    background-color: #363740;
    padding: 0;
    min-width: 220px;
}

.side-menu{
    height: auto;
}

.logo-info{
    padding: 30px 0px 30px 30px;
}

.logo-info > h5{
    margin: 0px;
    padding: 0px 12px;
    color:#A4A6B3;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    opacity: 0.7;
}

.circle-blue{
    background-color: #3751FF;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    padding: 0 0 0 1px;
}

.d-logo{
    margin: 0 auto;
    width: 12px;
    height: 14px;
    background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

a{
    color: #A4A6B3;
    border-left: solid 3px #363740;
}
a:hover ,a:focus {
    color: #DDE2FF;
    background-color: rgb(159 162 180 / 0.08);
    border-left: solid 3px #9FA2B4;
}

a > i {
    padding-right: 20px;
}

.nav-link{
    padding: 18px 24px 18px 30px;
}

hr{
    border: 1px solid #4e4e4e;
}

.main-div{
    padding: 30px 30px;
}

.box > div {
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.box > div > p {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #9FA2B4;
}

.box > div > h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
}




/* part 2 */



.head-title{
    padding: 32px 32px 40px 32px;
}

.head-title > p{
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #252733;
}

.table-container{
    background-color: #fff;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
    padding: 0;
}

.thead-table > tr > th {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #9FA2B4;
}

.thead-table {
    border-bottom: 1.5px solid #DFE0EB;
}

tr > * {
    padding-left: 32px!important;
}