html{
    height: 100%;
    margin: 0;
}
body{
    height: 100%;
    background-color: #F7F8FC;
    font-family: 'Mulish-font';
}

.head-info > h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
}
.left-panel > p{
    margin: 0;
    padding: 5px 10px 5px 20px;
    border-left: solid 2px #DFE0EB;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #252733;
}

.left-panel > i {
    color: #C5C7CD;
    font-size: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.sidebar{
    height: 100%;
    background-color: #363740;
    padding: 0;
    min-width: 220px;
}

.logo-info{
    padding: 30px 0px 40px 30px;
}

.logo-info > h5{
    margin: 0px;
    padding: 0px 12px;
    color:#A4A6B3;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    opacity: 0.7;
}

.circle-blue{
    background-color: #3751FF;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    padding: 0 0 0 1px;
}

.d-logo{
    margin: 0 auto;
    width: 12px;
    height: 14px;
    background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

a{
    color: #A4A6B3;
    border-left: solid 3px #363740;
}
a:hover ,a:focus {
    color: #DDE2FF;
    background-color: rgb(159 162 180 / 0.08);
    border-left: solid 3px #9FA2B4;
}

a > i {
    padding-right: 20px;
}

.nav-link{
    padding: 18px 24px 18px 30px;
}

hr{
    border: 1px solid #4e4e4e;
}

.main-div{
    padding: 30px 30px;
}

.box{
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 8px;
}

.box > div > p {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #9FA2B4;
}

.box > div > h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
}


/*
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} */